wt12-1/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="getCSVaccounts" doc:id="2e937b20-bd0d-46c7-ac3c-9ebdd66ac349" >
		<file:listener doc:name="accounts.csv" doc:id="0392023a-2540-4301-abfa-ad73bcf8f0e0" config-ref="File_Config" directory="input" moveToDirectory="output" renameTo="#[attributes.fileName ++ '.backup']">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<logger level="INFO" doc:name="payload" doc:id="1b758693-1718-4c7c-9895-fb89b34be9f9" message="#[payload]"/>
	</flow>
	<flow name="getSFDCaccounts" doc:id="97005cf3-483b-48c6-957e-35d9ddb8d904" >
		<http:listener doc:name="GET /sfdc" doc:id="5907c201-32e9-47ad-8165-8aacbe1b39a4" config-ref="HTTP_Listener_config" path="/sfdc" />
		<salesforce:query doc:name="Account" doc:id="6ef63ba1-6fac-403b-bcf2-e0cb018ca226" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="b2f7799c-d7a7-43c5-8324-aa2782d13586" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
